body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

.menu-item {
    background-color: #999999;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    color: #000000; /* Set text color to black in the main rectangle */
    font-weight: bold; /* Make the text in the main rectangle bold */
}

h3 {
    color: #000000;
}

p {
    color: #000000; /* Updated text color to black */
    margin-top: 10px; /* Add margin-top for better spacing */
}

/* Responsive Media Queries */
@media (min-width: 768px) {
    /* Tablet View */
    .menu-item {
        width: 48%;
        display: inline-block;
        margin-right: 2%;
    }
}

@media (min-width: 992px) {
    /* Desktop View */
    .menu-item {
        width: 30%;
        display: inline-block;
        margin-right: 2%;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    .menu-item {
        width: 100%;
        display: block;
        margin-right: 0;
    }
}

/* Small rectangles styling */
.menu-item .title-rectangle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #000000;
    border: 2px solid #000000;
}

.menu-item .title-rectangle h3 {
    margin: 0;
    color: #FFFFFF; /* Set text color to white in the title rectangle */
}

/* Chicken styling */
.menu-item.chicken .title-rectangle {
    background-color: #D59898; /* Pink */
}

/* Beef styling */
.menu-item.beef .title-rectangle {
    background-color: #C14543; /* Red */
}

/* Sushi styling */
.menu-item.sushi .title-rectangle {
    background-color: #FFFF00; /* Yellow */
}
